* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 720px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: 0;
  border: 0;
}

header {
  display: flex;
  height: 10%;
}

nav {
  display: flex;
  padding: 6px;
  width: 100%;
}

.nav__west {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  padding-right: 30px;
  width: 80%;
  height: 48px;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
}

.nav__info {
  margin: 0 10px 0 15px;
  padding: 5px;
}

.nav__store {
  margin: 0 5px 0 5px;
  padding: 5px;
}

.nav__east {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 48px;
  width: 20%;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  margin: 0 4px 0 32px;
}

.nav__info:hover,
.nav__store:hover,
.nav__gmail:hover,
.nav__img:hover {
  text-decoration: underline;
}
.nav__menu {
  cursor: pointer;
}
.nav__login {
  background-color: #1a73e8;
  color: white;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 9px 15px;
  min-width: 80px;
  margin-left: 8px;
  font: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.nav__login:hover {
  opacity: 0.9;
  box-shadow: 2px 2px lightgray;
}

/* section */
.section__container {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.section__up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50%;
}

.google__mark {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
  cursor: pointer;
}

.google__share {
  background-color: white;
  color: rgb(218, 69, 119);
  font-size: 24px;
  cursor: pointer;
  opacity: 0.64;
  padding: 2px;
  position: relative;
  top: 150px;
}

.google__share:hover {
  color: rgb(190, 10, 145);
}

.section__mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 25%;
}

.inputclick__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 584px;
  height: 100%;
  position: relative;
}

.input__container {
  border: solid 1px lightgray;
  height: 44px;
  border-radius: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.input__search {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  width: 33px;
  height: 44px;
  padding: 0 13px 0 0;
}
.input__text {
  width: 447px;
  height: 39px;
  cursor: text;
}
.input__keyboard,
.input__microphone {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 44px;
  padding: 0 8px;
  cursor: pointer;
}

.click__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 88px;
  padding: 18px 0px 0px;
}

.click__first,
.click__second {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  color: #3c4043;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  padding: 0 16px;
  user-select: none;
}

.click__first:hover,
.click__second:hover {
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
}

.click__first {
  width: 85px;
}

.click__second {
  width: 109px;
}

.section__down {
  display: flex;
  height: 25%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}

.footer__up,
.footer__down {
  background-color: #f2f2f2;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
}

.footer__up {
  padding: 15px 30px;
}
.footer__down {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__down__w,
.footer__down__e {
  display: flex;
  flex-direction: row;
}

.footer__ads,
.footer__business,
.footer__searchPrinciple,
.footer__private,
.footer__promise,
.footer__setting {
  padding: 15px;
  cursor: pointer;
}

.footer__ads:hover,
.footer__business:hover,
.footer__searchPrinciple:hover,
.footer__private:hover,
.footer__promise:hover,
.footer__setting:hover {
  text-decoration: underline;
}
